* {
  margin: 0;
  padding:0;
/*  box-sizing: border-box;*/
/*  margin: 0 auto;*/
/*  text-align: center;*/
}

/* ----------------------------------------
General Styling
------------------------------------------- */
.about-box h2, .about-box p, .testimonial-box h2, .testimonial-box p {
  color: white;
}

.carousel-wrapper h2, .contact-box h2 {
  color: #10206b;
}

.about-text {
  font-size: 1.25em;
}

/* ----------------------------------------
Header
------------------------------------------- */
.header-wrapper {
    text-align: left;
    padding: 1em;
    padding-top: 2em;
}

.name a {
  text-decoration: none;
  text-align: left;
  font-size: .6em;
  text-transform: uppercase;
  color: white;
  font-family: helvetica, sans-serif;
  font-weight: 600;
  text-align: left;
/*  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;*/
}

/* ----------------------------------------
Navigation Bar
------------------------------------------- */
.nav-wrapper {
  text-align: center;
}

nav a {
  font-weight: 600;
  padding: .25rem 2rem;
  text-decoration: none;
  color: #10206b;
  text-transform: uppercase;
}

nav a:hover {
  color: #C0C0C0;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
}

/*@media all and (min-width: 800px) {
  nav li {
    display: inline-block;
  }
}
*/

/* ----------------------------------------
About
------------------------------------------- */
.about {
  padding-right: 2em;
}

/* ----------------------------------------
Carousel
------------------------------------------- */
.carousel-wrapper {
  text-align: center;
}

/* ----------------------------------------
Testimonials
------------------------------------------- */
.testimonial-wrapper {
  height: 7em;
}

/* ----------------------------------------
Contact
------------------------------------------- */

.contact-wrapper {
  text-align: center;
}

input, textarea {
  color: #44545E;
}

input, textarea, .form-btn {
  padding: 1em 2em;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: .2em;
  border: .2em solid #10206b;
  font-weight: 500;
  font-size: 1em;
  border-spacing: 1em;
  margin-bottom: 1em;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-btn , textarea {
  width: 100%;
  display: block;
}

input {
  width: 49%;
}

textarea {
  height: 12em;
}

/* ----------------------------------------
Buttons
------------------------------------------- */
button {
  background-color: #10206b;
  color: white;
  text-align: center;
}

button:hover, #previous:hover, #next:hover {
  background-color: white;
  opacity: .8;
  color: #10206b;
  border: .2em solid #10206b;
}

/* ----------------------------------------
Flex
------------------------------------------- */

/*Main Flex*/
.main-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.main-wrapper > * {
  flex: 1 100%;
}

/*Header Flex*/
/*.header-wrapper {
  background: lightgreen;
}

.nav-wrapper {
  background: tomato;
}*/

/*About Flex*/
.about-wrapper {
  background: #10206b;
  opacity: .8;
  display: flex;
  flex: 1;
}

.picture-box {
  flex: 1;
  flex-direction: column;
}

.about-box {
  flex: 1;
  flex-direction: column;
}

/*Carousel Flex*/
.carousel-wrapper {
  background: #f7f7f7;
}

/*Testimonial Flex*/
.testimonial-wrapper {
  background: #10206b;
  opacity: .8;
  display: flex;
/*   text-align:center; */
}

.quote-box {
  flex: 1;
}

.testimonial-box {
  flex: 3;
/*  background:blue;*/
  text-align: center;
}

/*Footer Flex*/

.footer-wrapper {
  background: #f7f7f7;
  display: flex;
}

.footer {
  flex: 1;
  text-align: left;
}

/* ----------------------------------------
Media Queries
------------------------------------------- */
/*@media all and (min-width: 600px) {
  .quote-box { flex: 1 0 0}
}

@media screen and (max-width: 800px) {
  .main-wrapper {
    flex-direction: column;
  }
}
*/

/* ----------------------------------------
The Modal (background)
------------------------------------------- */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


