* {
  box-sizing: border-box;
/*  text-align: center;*/
}

/* ----------------------------------------
Navigation Bar
------------------------------------------- */
.nav-wrapper {
  text-align: center;
}

nav a {
  font-weight: 600;
  padding: .25rem 2rem;
  text-decoration: none;
  color: #10206b;
}

nav a:hover {
  color: #C0C0C0;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

/* ----------------------------------------
Styling
------------------------------------------- */
.about-box h2, .about-box p, .testimonial-box p {
  color: white;
}

.carousel-wrapper h2, .contact-box h2 {
  color: #10206b;
}

/* ----------------------------------------
Comment Form
------------------------------------------- */
.contact-wrapper {
  display: flex;
  flex-flow: row-wrap;
}

.contact-box {
  flex: 1 100%;
  display: flex;
}

form {
  flex: 1;
}


/* ----------------------------------------
Flex & Media Queries
------------------------------------------- */
.contact-wrapper {
  display: flex;
}

.main-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.main-wrapper > * {
  flex: 1 100%;
}

/*.nav-wrapper {
  background: tomato;
}

.header-wrapper {
  background: lightgreen;
}*/

.about-wrapper {
  background: #10206b;
  display: flex;
}

.about {
  flex: 1;
}

.carousel-wrapper {
  background: #f7f7f7;
}

.testimonial-wrapper {
  background: #10206b;
  display: flex;
/*   text-align:center; */
}

.quote-box {
  flex: 1;
}

.testimonial-box {
  flex: 3;
/*  background:blue;*/
  text-align: center;
}

.contact-wrapper {
/*  background: purple;*/
  text-align: right;
}

.footer-wrapper {
  background: #f7f7f7;
  display: flex;
}

.footer {
  flex: 1;
  text-align: left;
}

@media all and (min-width: 600px) {
  .quote-box { flex: 1 0 0}
}

@media all and (min-width: 800px) {
  nav li {
    display: inline-block;
  }
}


